
    body {
        font-family: Arial, sans-serif;
        font-size: 35px;
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        text-align: center;
    }
    .container {
        text-align: center;
        width: 80%;
        max-width: 800px;
    }
    .button {
        padding: 25px 40px;
        background-color: #50e73c;
        border: 10px solid #000000;
        color: #000000;
        border-radius: 100px;
        cursor: pointer;
        margin: 10px;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
    }
    .button:hover {
        background-color: #55c02b;
        border:#000000;
        color: white;
        transition: 0.3s;
    }
    
    .category-button {
        padding: 15px 30px;
        background-color: #f1f1f1;
        border: 2px solid #000000;
        border-radius: 12px;
        cursor: pointer;
        margin: 10px;
        font-size: 18px;
        transition: 0.3s;
    }
    
    .category-button:hover {
        background-color: #ddd;
        border: 2px solid #000000;
    }
    /* Ocultar todas las secciones por defecto */
    #home-screen, #start-screen, #general-screen, #unisimon-screen, #question-screen, #end-screen, #random-faculty-screen {
        display: none;
    }
    /* Mostrar solo la sección activa */
    #home-screen.active,
    #start-screen.active,
    #general-screen.active,
    #unisimon-screen.active,
    #question-screen.active,
    #end-screen.active,
    #random-faculty-screen.active {
        display: block;
    }
    .answer-button {
        padding: 25px 40px;
        font-size: 30px;
        background-color: white;
        border: 5px solid #000000;
        border-radius: 100px;
        margin: 10px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s;
    }
    .answer-button.correct {
        background-color: rgb(0, 221, 0);
        color: white;
        border: 10px solid #000000;
        transition: 0.3s;
        font-weight: bold;
    }
    .answer-button.incorrect {
        background-color: rgb(245, 15, 15);
        color: white;
        border: 5px solid #000000;
        transition: 0.3s;
    }
    .answer-button.disabled {
        pointer-events: none;
    }
    #timer-container {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
    }

    #timer-circle {
        transform: rotate(-90deg); /* Rota el círculo para que comience desde la parte superior */
    }

    #timer-progress {
        transition: stroke-dashoffset 1s linear; /* Suaviza la animación del círculo */
    }

    #timer-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }
    #wheel-container {
        margin: 20px auto;
        width: 300px;
        height: 300px;
        position: relative;
    }

    #wheel {
        border: 10px solid #000;
        border-radius: 50%;
        background-color: #fff;
    }
    